form{
    display: flex;
    justify-content: center;

}

.todoInput{
    border-color: grey;
    border-radius: 5px;
    text-align: center;
    height:50px;
    margin-right: 10px;
}
.btn.btn-primary.btn-add {
    font-weight: bold;
}

