.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 5px;
  cursor: pointer;
}
.todo-list-item-tools{
  display: flex;
  justify-content: flex-end;
 
}
.todo-list-item-content {
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 10px 5px 5px;
}

.todo-list-item-content input {
  margin-right: 5px;
}

.todo-list-item-content:hover {
  background: rgb(245, 245, 245);
}

.todo-list-item-delete {
  display: flex;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}
.todo-list-item-edit{
  display: flex;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}
.todo-list-item-delete:hover {
  
  transform: scale(1.5);
  
}
.todo-list-item-edit:hover{
  transform: scale(1.5);
}
.todo-list-item-checked {
  text-decoration: line-through;
}
